{% extends 'users/base.html' %}

{% block head %}
<title>admin</title>
{% endblock %}

{% block body %}
<ul>
       
        </ul>
        <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                    <th scope="col">Website</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in users %}
                  <tr>
                    <th scope="row">{{ user.pk }}</th>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.website }}</td>
                    <button method="DELETE" action="delete_user" >Delete</button>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
{% endblock %}