{% extends 'users/base.html' %}
{% block head %}
<title>signin</title>
{% endblock %}

{% block body %}
    <h2 class="text2">Let's signin!</h2>                   
    <form method="POST" class="signin-form"> 
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        Username: <input type="text" name="username"><br><br>
        Password: <input type="password" name="password"><br><br>
          <button type="submit button" class="btn btn-outline-dark">Sign In</button>
    </form>
    {% if messages %}
        <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}
    
{% endblock %}